/* background colour  */
body {
    /* background: radial-gradient(circle, #ff0000, #0000ff); */
    background: radial-gradient(circle, #ff0000, #ffff00, #00ff00, #0000ff);
}

   #calculator {
    width: 500px;
    height: 638px;
    margin: 0 auto;
    background-color: #2196f3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #666;
}

#display {
    width: 95%;
    height: 100px;
    margin-top: 10px;
    font-size: 40px;
    text-align: right;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
    box-shadow: inset 0px 0px 5px #666;
}

#buttons {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 25%;
    height: 100px;
    font-size: 20px;
    border: none;
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 0px 5px #666;
}

#clear, #backspace, #divide, #multiply, #subtract, #add, #equals {
    background-color: #f0f0f0;
    color: #1e4f32;
}
#clear {
    background-color: #f44336;
    color: #fff;
}
#equals {
    background-color: #4caf50;
    color: #fff;
}
